.cantidadSeleccionados
{
  width: 100%;
  text-align: center;
  padding: 6px 0;
  font-size: 18px;

  .icono
  {
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-right: 5px;

    &:hover
    {
      transform: scale(1.1);
    }
  }

}